body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-left: 30px;
}

.name {
    font-size: 24px;
    margin: 0;
    padding: 10px 20px;
}

.description {
    font-size: 16px;
    font-weight: bold;
    color: #A9A9A9;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.content-container {
    max-width: 350px; 
    padding: 20px; 
    background-color: #f8f8f8; 
}

.info {
    float: left; 
    margin-left: 30px;
    margin-top: 50px;
}
.info h2{
    margin: 0 30px 0;
    font-size: 30px;
}
.info p {
    padding: 20px 0 5px;
    margin-left: 30px;
    color: #787878;
    font-weight: bold;
    border-bottom: 2.5px solid #000;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Adjust other styles as needed */
}

.skill {
    flex: 0 0 calc(100% - 10px); /* Full width container with some spacing */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    flex-wrap: wrap;
}

.skill-item {
    flex: 0 0 calc(33.33% - 10px); 
}

.skill-item img {
    width: 125px;
    height: 125px;
    border-radius: 50%; 
}

.skill-item p {
    margin-top: 5px;
    font-weight: bold;
}

.skills-heading {
    flex: 0 0 calc(100% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skills-heading h3 {
    font-weight: bold; 
    font-size: 30px;
}
@media (max-width: 768px) {
    .skills {
        flex-direction: column; 
    }

    .skill {
        margin-bottom: 20px; 
    }

    .info {
        float: none; 
    }
     .header {
        flex-direction: column; 
    }

    .navbar {
        order: 1; 
    }
}
